@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .9em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes glow {
  0% { box-shadow: 0 0 50px rgba(255, 78, 88, 0.5); transform: scale(1); }
  50% { box-shadow: 0 0 120px rgba(255, 78, 88, 0.9); transform: scale(1.05); }
  100% { box-shadow: 0 0 50px rgba(255, 78, 88, 0.5); transform: scale(1); }
}

.animate-glow {
  animation: glow 3s infinite ease-in-out;
}



